<template>
    <div>
        <h3 class="text-center">Paswoord wijzigen</h3>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Huidige paswoord</label>
            <div class="col-md-8">
                <input class="form-control" type="password" v-model="user.old_password" :class="{'is-invalid': getError('old_password')}"/>
                <span class="invalid-feedback"> {{ getError('old_password') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Paswoord</label>
            <div class="col-md-8">
                <input class="form-control" type="password" v-model="user.password" :class="{'is-invalid': getError('password')}"/>
                <span class="invalid-feedback"> {{ getError('password') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Bevestig Paswoord</label>
            <div class="col-md-8">
                <input class="form-control" type="password" v-model="user.verify_password"
                       :class="{'is-invalid': getError('verify_password')}"/>
                <span class="invalid-feedback"> {{ getError('verify_password') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-8">
                <button class="btn btn-success" @click="save">Opslaan</button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        //props: ['userId'],
        created() {
            this.get();
        },
        data() {
            return {
                isLoading: false,
                errors: [],
                user: {},
                userId: null
            }
        },
        methods: {
            get() {
                this.isLoading = true;
                axios.get('/api/user/').then(response => {
                    this.user = response.data;
                    console.log(this.user);
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            save() {
                this.isLoading = true;
                const url = '/api/users/change-password';

                axios.post(url, this.user).then(response => {
                    this.user = response.data;
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'User saved successfully!'
                    });
                    this.$router.push('/settings');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            }
        }
    }
</script>