<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Voertuig {{ vehicleId ? 'bewerk' : 'toevoegen'}} </span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Merk</label>
            <div class="col-md-8">
                <input class="form-control" v-model="vehicle.brand" :class="{'is-invalid': getError('brand')}"/>
                <span class="invalid-feedback"> {{ getError('brand') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Type</label>
            <div class="col-md-8">
                <input class="form-control" v-model="vehicle.type" :class="{'is-invalid': getError('type')}"/>
                <span class="invalid-feedback"> {{ getError('type') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Kenteken</label>
            <div class="col-md-8">
                <input class="form-control" v-model="vehicle.sing" :class="{'is-invalid': getError('sing')}"/>
                <span class="invalid-feedback"> {{ getError('sing') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Kentekenbewijs</label>
            <div class="col-md-8">
                <div v-if="vehicle.ownership_path">
                    <label class="col-form-label">
                        <a target="_blank" :href="vehicle.ownership_path">{{ vehicle.ownership_path }}</a>
                    </label>
                </div>
                <file-input v-model="vehicle.ownership" :class="{'is-invalid': getError('ownership')}"
                            :class-name="getError('ownership') ? 'is-invalid' : ''"></file-input>
                <span class="invalid-feedback"> {{ getError('ownership') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Groene Kaart</label>
            <div class="col-md-8">
                <div v-if="vehicle.insureance_path">
                    <label class="col-form-label">
                        <a target="_blank" :href="vehicle.insureance_path">{{ vehicle.insureance_path }}</a>
                    </label>
                </div>
                <file-input v-model="vehicle.insureance" :class="{'is-invalid': getError('insureance')}"
                            :class-name="getError('insureance') ? 'is-invalid' : ''"></file-input>
                <span class="invalid-feedback"> {{ getError('insureance') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Keuringsrapport</label>
            <div class="col-md-8">
                <div v-if="vehicle.inspection_report_path">
                    <label class="col-form-label">
                        <a target="_blank" :href="vehicle.inspection_report_path">{{ vehicle.inspection_report_path }}</a>
                    </label>
                </div>
                <file-input v-model="vehicle.inspection_report" :class="{'is-invalid': getError('inspection_report')}"
                            :class-name="getError('inspection_report') ? 'is-invalid' : ''"></file-input>
                <span class="invalid-feedback"> {{ getError('inspection_report') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">APK datum</label>
            <div class="col-md-8">
                <input class="form-control" type="date" v-model="vehicle.datum" format="yyyy-mm-dd"
                       :class="{'is-invalid': getError('datum')}">
                <span class="invalid-feedback"> {{ getError('datum') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Bouwjaar</label>
            <div class="col-md-8">
                <input class="form-control" type="date" v-model="vehicle.manufacture_date" format="yyyy-mm-dd"
                       :class="{'is-invalid': getError('manufacture_date')}">
                <span class="invalid-feedback"> {{ getError('manufacture_date') }} </span>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Chassis number</label>
            <div class="col-md-8">
                <input class="form-control" v-model="vehicle.chassis_number"
                       :class="{'is-invalid': getError('chassis_number')}"/>
                <span class="invalid-feedback"> {{ getError('chassis_number') }} </span>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Pomp</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="vehicle.pump">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
            <span class="invalid-feedback"> {{ getError('pump') }} </span>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Naam</label>
            <div class="col-md-8">
                <input class="form-control" v-model="vehicle.nick_name" :class="{'is-invalid': getError('nick_name')}"/>
                <span class="invalid-feedback"> {{ getError('nick_name') }} </span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['vehicleId'],
        created() {
            if (this.vehicleId) {
                this.get(this.vehicleId);
            }
        },
        data() {
            return {
                isLoading: false,
                errors: {},
                ownership: '',
                insureance: '',
                vehicle: {
                    brand: null,
                    sing: null,
                    manufacture_date: null,
                    chassis_number: null,
                    nick_name: null,
                    pump: false,
                    ownership_path: null,
                    insureance_path: null,
                    inspection_report_path: null,
                }
            }
        },
        methods: {
            get(vehicleId) {
                this.isLoading = true;
                axios.get('/api/vehicles/' + vehicleId).then(response => {
                    this.vehicle = response.data;
                    this.resetFilePath();
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.isLoading = true;
                this.vehicle.pump = this.vehicle.pump == 1 ? true : false;
                const url = '/api/vehicles/' + (this.vehicleId ? this.vehicleId + '/save' : 'create');
                const data = new FormData;

                for (let key in this.vehicle) {
                    const value = this.vehicle[key];
                    if (value !== null) {
                        data.append(key, this.vehicle[key]);
                    }
                }
                axios.post(url, data, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(response => {
                    this.vehicle = response.data;
                    this.resetFilePath();
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Vehicle saved successfully!'
                    });
                    this.$router.push('/vehicles');
                }).catch(errors => {
                    this.errors = errors.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            resetFilePath() {
                this.vehicle.ownership_path = this.vehicle.ownership;
                this.vehicle.insureance_path = this.vehicle.insureance;
                this.vehicle.inspection_report_path = this.vehicle.inspection_report;
                this.vehicle.ownership = null;
                this.vehicle.insureance = null;
                this.vehicle.inspection_report = null;
            }
        }
    }
</script>

<style scoped>

</style>