<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Voertuigen</span>
            <router-link to="/vehicles/create" class="ml-auto btn btn-sm btn-success" v-if="user.role == 'admin'">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="vehicles.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Merk</th>
                        <th>Type</th>
                        <th>Kenteken</th>
                        <th>Bouwjaar</th>
                        <th>Chassis number</th>
                        <th>Nick name</th>
                        <th>Pomp</th>
                        <th>Datum</th>
                        <th>Files</th>
                        <th v-if="user.role == 'admin'">Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="vehicle in vehicles.data">
                        <td>{{ vehicle.brand }}</td>
                        <td>{{ vehicle.type }}</td>
                        <td>{{ vehicle.sing }}</td>
                        <td>{{ dateFormat(vehicle.manufacture_date) }}</td>
                        <td>{{ vehicle.chassis_number }}</td>
                        <td>{{ vehicle.nick_name }}</td>
                        <td>
                            <span :class="[vehicle.pump ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>{{ vehicle.datum }}</td>
                        <td>
                            <a v-if="vehicle.insureance" target="_blank" :href="vehicle.insureance">Groene Kaart</a>
                            <a v-if="vehicle.ownership" target="_blank" :href="vehicle.ownership">Kentekenbewijs</a>
                            <a v-if="vehicle.inspection_report" target="_blank" :href="vehicle.inspection_report">Keuringsrapport</a>
                        </td>
                        <td v-if="user.role == 'admin'">
                            <router-link :to="'/vehicles/' + vehicle.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteVehicles(vehicle)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{vehicles.from }}-{{vehicles.to}} of {{vehicles.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="vehicles" @pagination-change-page="getVehicles"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    import moment from 'moment';

    export default {
        data() {
            return {
                user: window.user,
                isLoading: true,
                vehicles: {
                    data: []
                }
            }
        },
        created() {
            this.getVehicles();
        },
        methods: {
            dateFormat(date) {
                return moment(date).format('L')
            },
            getVehicles(page) {
                this.isLoading = true;
                axios.get('/api/vehicles', {
                    params: {page: page || 1}
                }).then(response => {
                    this.vehicles = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteVehicles(vehicles) {
                if (confirm('Weet je zeker dat je dit voertuig wil verwijderen ' + vehicles.name + '?')) {
                    axios.post('/api/vehicles/' + vehicles.id + '/delete').then(response => {
                        //vehicles/{vehicles}/delete
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'voertuig successvol verwijderd!'
                        });
                        this.getVehicles();

                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>