@keyframes rotateLeft {
	0% { transform: rotate(0); }
	50% { transform: rotate(15deg); }
	100% { transform: rotate(0); }
}

@keyframes moveDownUp {
	0% { transform: translateY(0px); }
	100% { transform: translateY(10px); }
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.15); }
	100% { transform: scale(1); }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}