$font-family-sans-serif:	'Open Sans', sans-serif;

$primary:				#ffcc00;
$secondary:				#3b454c;
$info:					#17a2b8;

$font-size-base: 		1rem;
$font-size-lg:			$font-size-base * 1.25;
$font-size-sm:			$font-size-base * .875;

$font-weight-light:		300;
$font-weight-normal:	400;
$font-weight-medium:	600;
$font-weight-bold:		700;
$font-weight-base:		$font-weight-normal;

$headings-font-family:	'Roboto Condensed', sans-serif;
$headings-font-weight:	$font-weight-bold;
$headings-color:		#000;

$theme-h1-font-size-xs:		$font-size-sm * 2;
$theme-h2-font-size-xs:		$font-size-sm * 1.75;
$theme-h3-font-size-xs:		$font-size-sm * 1.5;
$theme-h4-font-size-xs:		$font-size-sm * 1.25;
$theme-h5-font-size-xs:		$font-size-sm * 1.25;

$link-color: 					#3b454c;

$navbar-nav-link-padding-x: 	.8125rem;
$navbar-nav-link-padding-y: 	1rem;

$navbar-light-color:	 		#333;
$navbar-light-hover-color:		#000;
$navbar-light-active-color:		#000;
$navbar-light-disabled-color:	#666;

$breadcrumb-bg: 			transparent;
$breadcrumb-padding-x: 		0;

$card-border-radius:		0;

$btn-font-weight: 		$font-weight-normal;


$theme-btn-font-family:			'Roboto Condensed', sans-serif;

$theme-navbar-font-family:			'Roboto Condensed', sans-serif;
$theme-navbar-font-size:			.9375rem;
$theme-navbar-font-weight:			$font-weight-normal;

$theme-navbar-dropdown-bg:			#343a40;

$theme-section-padding-x: 			15px;
$theme-section-padding-y:			50px;
$theme-container-fluid-max-width: 	1920px;

//Font awesome
$fa-font-path:						"../font/fontawesome/";
$fa-font-size-base:					1rem; //16px


$theme-section-bg-gray:				#dadfe2;
$theme-section-bg-yellow:			#ffcc00;