.col-form-label {
	font-family: $headings-font-family; 
	font-size: 1.1rem;
}


.form {

	fieldset > legend { 
		margin: 0 0 15px 0 !important;
		padding: 0 0 10px 0;
		border-bottom: 2px solid $gray-200;
	}
	
	fieldset + fieldset { margin-top: 30px; }
	
	label.is-invalid,
	label.error {
		@extend .form-text;
		@extend .text-danger;
		font-family: $headings-font-family;
	}
	
}