.page-section {
	padding: 50px 0;
	
	&--gray {
		background: $theme-section-bg-gray;
	}
	
	&--yellow {
		background: $theme-section-bg-yellow;
	}
	
	&--trapezoid-up {
		padding-bottom: calc(15px + 10vh);
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 10vh;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background-size: contain;
			z-index: 100;
		}
	}
	
	&--trapezoid-down {
		padding-top: calc(15px + 10vh);
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 10vh;
			left: 0;
			right: 0;
			top: 0;
			position: absolute;
			background-size: contain;
			z-index: 100;
		}
	}
	
	&__title {
		margin-bottom: 30px;
		text-align: center;
	}
	
	.block {
		margin-bottom: 50px;
	}
	
	.block--center {
		text-align: center;
	}
	
	.block--last {
		margin-bottom: 0;
	}
		
}