.page__footer {
	.page-section--footer {
		color: $white;
		background: $gray-800;
		padding-bottom: 50px;
		
		hr { border-color: $gray-700; border-width: 2px 0 0 0; margin: 50px 0; }
		
		.block--text {
			.block__title {
				margin: 0 0 30px 0;
				padding: 0 0 15px 0;
				border-bottom: 2px solid $primary;
				> * { 
					color: $primary; 
					text-transform: uppercase; 
					font-weight: $font-weight-light; 
				}
			}
			.block__content {
				a { color: $white; text-decoration: none; }
			}
		}
		
		.complementary {
			margin-top: 50px;
			.block--links {
		
				.block__title {
					margin: 0 0 30px 0;
					padding: 0 0 15px 0;
					border-bottom: 2px solid $gray-600;
					> * { 
						color: $gray-500; 
						text-transform: uppercase; 
						font-weight: $font-weight-light; 
					}
				}
				.block__content {
					div[class*='col'] { 
						margin-bottom: 15px; 
						a { font-family: $headings-font-family; font-size: 1.1rem; }
					}
					a { color: $gray-500; }
				}
			
			}
		}
	}
	
	.page-section--footer-links {
		background: $black;
		color: $white;
		padding: 20px 0;
		.nav-link {
			color: $gray-500;
		}
	}
	
	
}