.page {
	padding-top: 118px;

	.view--compact & {
		padding-top: 78px;
	}
}

.page__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $zindex-fixed;
	background: #fff;
	border-bottom: 2px solid $primary;
	
	.complementary {
		background: #d1d7db;
		padding: 5px 0;
		min-height: 42px;
		display: flex;
		align-items: center;
		&__telephone {
			
			a { 
				font-family: $headings-font-family; 
				font-weight: $font-weight-bold;
				color: $black;
				text-decoration: none;
				font-size: 1.1rem;
				.material-icons { 
					font-size: 1.1rem; 
					line-height: 1.1rem; 
				}
			}
						
			@include media-breakpoint-down(md) {
				text-align: center;
			}
						
			@include media-breakpoint-up(lg) {
				text-align: center;
			}
		}
		&__toplinks {
			.nav-link {
				font-family: $headings-font-family; 
				font-size: $font-size-base;
				color: $gray-800;
			}
		}
	}
	
	.navbar {
	
		&-brand {
			
			@include media-breakpoint-down(sm) {
				img { width: 140px; }
			}
		}
		
		&-toggler {
			@include button-variant($dark, $dark);
			padding: .35rem;
			.material-icons { margin-bottom: 0; }
		}
		
		&-text {
			.material-icons { color: $info; }
		}
		
		&-collapse {
			
			@include media-breakpoint-down(md) {
				padding-top: 15px;
				border-top: 1px solid $gray-300;
			}
		}
		
		.nav-link {
			font-family: $theme-navbar-font-family;
			font-size: $theme-navbar-font-size;
			font-weight: $theme-navbar-font-weight;
			text-transform: uppercase;
			
			span {
				@include transition(all .25s);
				border: 2px solid transparent;
				border-width: 2px 0;				
			}
			
			.material-icons { color: $gray-500;	}
			
			&:hover,
			&.active {
				span {
					border-bottom-color: $primary;
				}
			}
		}
		
		@include media-breakpoint-up(lg) {
			.nav-item.dropdown {			
				@include hover-focus {
					.dropdown-menu { display: block; }
				}
			}
		}
					
		.dropdown {
			&-menu {
				top: 99%;
				background: $theme-navbar-dropdown-bg;
				border-radius: 0;
				min-width: 14rem;
			}
			&-item {
				padding: .5rem;
				font-family: $theme-navbar-font-family;
				font-size: 1rem;
				color: $gray-100;
				&.active { color: $black; }
				@include hover-focus {
					background: $primary;
					color: $black;
				}
			}
		}
		
	}

}