.block {
	.block__title {
		margin: 0 0 30px 0;
		> * { margin: 0; }
		> * + * {
			color: $gray-600;
			font-weight: $font-weight-light;
			margin-top: 6px;
		}
	}
	.block__content {
		
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5 {
			margin: 30px 0 15px 0;
		}
		
		.lead {
			font-family: $headings-font-family;
		}
		
		ul, ol {
			padding-left: 1rem;
			> li + li { margin-top: .5rem; }
		}
	
		ul > li > a:not(.btn),
		ol > li > a:not(.btn),
		p a:not(.btn) { text-decoration: underline; }
		
	}
}
@include media-breakpoint-down(sm) {
	h1, .h1 { font-size: $theme-h1-font-size-xs; }
	h2, .h2 { font-size: $theme-h2-font-size-xs; }
	h3, .h3 { font-size: $theme-h2-font-size-xs; }
	h4, .h4 { font-size: $theme-h2-font-size-xs; }
}