* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #f4f4f4;
}

.bg-dark {
    background: #293b51;
}

.navbar-main {
    color: #e3e3e3;
}

.navbar-main button,
.navbar-main a {
    color: #ffcd00;
}

.sidebar {
    height: calc(100% - 56px);
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: .25rem 0;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.sidebar ul li .fa {
    width: 30px;
}

.bd-sidebar {
    position: sticky;
    top: 56px;
    z-index: 1000;
    height: calc(100vh - 56px);
}

.bd-sidebar a {
    color: white;
}

.main-icon {
    transition:0.2s padding;
    margin: 15px 0;
    padding: 10px;
    background: #ffcd00;
}

.main-icon:hover {
    border: 2px solid #000000;
    padding: 25px;
    cursor: pointer;
}

.main-icon img {
    max-width: 100%;
}

.section-header {
    padding-bottom: 10px;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}