<template>
    <div class="manual-list row">
        <div class="col-xl-3 col-lg-4 col-sm-6" v-for="manual in manuals.data">
            <div class="manual">
                <div class="manual-download-icon"><i class="far fa-file-pdf"></i>
                </div>
                <div class="manual-download-details">
                    <div class="manual-download-title">
                        <a :href="manual.path">{{manual.title}}</a>
                    </div>
                    <div class="manual-download-subtitle">
                        {{ bytesToString(manual.size) }}, {{manual.ext.toUpperCase()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import fileSize from '../Mixing/fileSize';

    export default {
        mixins: [fileSize],
        created() {
            this.getManuals();
        },
        data() {
            return {
                manuals: {
                    data: []
                }
            }
        },
        methods: {
            getManuals(page) {
                this.isLoading = true;
                axios.get('/api/manuals', {
                    params: {page: page || 1}
                }).then(response => {
                    this.manuals = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
        }
    }
</script>

<style scoped>
    .manual {
        border: 4px solid #fade2a;
        padding: 13px;
        margin-bottom: 10px;
    }

    .manual-download-icon {
        color: #fade2a;
        float: left;
    }

    .manual .far {
        margin-right: 12px;
        font-size: 30px;
    }

    .manual-download-title a {
        font-size: 14px;
        line-height: 17px;
    }

    .manual-download-title a:hover {
        text-decoration: none;
    }

    .manual-download-details {
        margin-top: -5px;
    }

    .manual-download-subtitle {
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
</style>