<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Handleidingen {{ id ? 'bewerk' : 'toevoegen'}}</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">File</label>
            <div class="col-md-8">
                <file-input v-model="manual.file" :class="{'is-invalid': getError('file')}"
                            :class-name="getError('file') ? 'is-invalid' : ''"></file-input>
                <span class="invalid-feedback"> {{ getError('file') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Title</label>
            <div class="col-md-8">
                <input class="form-control" v-model="manual.title" :class="{'is-invalid': getError('title')}"/>
                <span class="invalid-feedback"> {{ getError('title') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        data() {
            return {
                isLoading: false,
                errors: {},
                operators: [],
                manual: {
                    title: null,
                    file: null
                }
            }
        },
        watch: {
            'manual.file': function() {
                if (!this.manual.title && this.manual.file) {
                    this.manual.title = this.manual.file.name.split('.').slice(0, -1).join('.');
                }
            }
        },
        methods: {
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                const data = new FormData;
                for (let key in this.manual) {
                    data.append(key, this.manual[key]);
                }

                this.isLoading = true;
                const url = '/api/manuals/' + (this.id ? this.id + '/save' : 'create');

                axios.post(url, data, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(response => {
                    this.manual = response.data;
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Manual saved successfully!'
                    });
                    this.$router.push('/manuals');
                    this.errors = {};
                }).catch(errors => {
                    this.errors = errors.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>