<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Handleidingen</span>
            <router-link to="/manuals/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="manuals.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Href</th>
                        <th>Size</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="manual in manuals.data">
                        <td><a target="_blank" :href="manual.path">{{ manual.title }}</a></td>
                        <td><a target="_blank" :href="manual.path">{{ manual.path }}</a></td>
                        <td>{{ bytesToString(manual.size) }}</td>
                        <td>
                            <button @click="deleteManual(manual)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{manuals.from }}-{{manuals.to}} of {{manuals.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="manuals" @pagination-change-page="getManuals"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    import fileSize from '../Mixing/fileSize';

    export default {
        mixins: [fileSize],
        data() {
            return {
                isLoading: true,
                manuals: {
                    data: []
                }
            }
        },
        created() {
            this.getManuals();
        },
        methods: {
            getManuals(page) {
                this.isLoading = true;
                axios.get('/api/manuals', {
                    params: {page: page || 1}
                }).then(response => {
                    this.manuals = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteManual(manual) {
                if (confirm('Weet je zeker dat je de manual wil verwijderen ' + manual.title + '?')) {
                    axios.post('/api/manuals/' + manual.id + '/delete').then(response => {
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Manual successvol verwijderd!'
                        });
                        this.getManuals();
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>