.page-section--calculator {
	padding-top: 0;

	.page-section__title {
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 100%;
			max-width: 200px;
			height: 6px;
			background: $primary;
			margin-left: auto;
			margin-right: auto;
			margin-top: 28px;
		}
	}

	#order-steps {
		@extend .list-unstyled;
		
		.step {
			
			&__title {
				text-align: center;
				margin: 0 0 30px 0;
			}
			
			.form-control.loading { 
				background: $white;
				background-size: 22px;
			}
			
			.buttons-set {
				margin-top: 0;
				padding-top: 20px;
				border-top: 1px solid $gray-300;
				text-align: left;
				.btn {
					.material-icons { font-size: $font-size-base; }
				}
			}
			
			.scroll-hint {
				text-align: center;
				margin: 30px auto 30px auto;
				width: 30px;
				line-height: 30px;
				border-radius: 50%;
				color: $white;
				text-align: center;
				background: $info;
				animation-name: moveDownUp; // defined in _keyframes.scss
				animation-duration: 1s;
				animation-delay: 0; /* add this */
				animation-timing-function: ease-in;
				animation-iteration-count: infinite;
			}
			
			.block {
				
				&__title {
					text-align: center;
					margin-bottom: 30px;
				}
				
				&--order {
					
				}
				
				&--location {
					
				}
				
				&--offer {
					padding: 30px 50px;
					border: 2px solid $primary;
					margin-bottom: 0;
					.block__content {
						.table {
							tfoot > tr {
								td, th { 
									font-weight: $font-weight-normal;
								}
							}
							tfoot > tr:last-child {
								td, th { 
									font-weight: $font-weight-bold;
								}
							}
							tfoot > tr:first-child {
								td, th { 
									border-top: 2px solid $black; 
								}
							}
						}
					}
				}
				
				&--offer-form {
					.block__content {
						label a { text-decoration: underline; }
					}
				}
				
			}
			
		}
		
	}
}