.page-section--contact {

	.bg {
		position: relative;
		margin-left: auto;
		min-height: 40vh;
		height: 100%;
		background: $gray-600;
		background-size: cover;
		max-width: 960px;
	}
	
	.row > div[class*='col']:last-child {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: map-get($container-max-widths, 'xl') / 2;
	}
	
	.block--text {
		text-align: center;
		padding: 0;
		.block__title {
			margin-bottom: 30px;
		}
		.block__content {
			
			.call {
				border-top: 2px solid $primary;
				margin: 20px 0 0 0;
				padding: 25px 0 0 0;
				color: $headings-color; 
				font-family: $headings-font-family;
				font-weight: $font-weight-bold;
				line-height: $headings-line-height;
				font-size: $font-size-lg;
				a { text-decoration: none; color: $headings-color; }
				strong { 
					display: block;
					margin-top: 10px;
					font-size: $h1-font-size;
				}	
			}
			
		}
	}
}