.page-section--faq {
	
	.page-section__title {
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 100%;
			max-width: 200px;
			height: 6px;
			background: $gray-500;
			margin-left: auto;
			margin-right: auto;
			margin-top: 28px;
		}
	}
	
	.card {
		background: none;
		border: none;
		+ .card { margin-top: 0px; }
		&-header {
			background: none;
			border-bottom-width: 2px;
			cursor: pointer;
		}
		&-body {
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.block--text {
		text-align: center;
		padding: 0;
		.block__title {
			margin-bottom: 30px;
		}
		.block__content {
			
			p:not(.call) {
				strong { font-family: $headings-font-family; font-size: $font-size-lg; }
			}
			
			.call {
				border-top: 2px solid $primary;
				margin: 20px 0 0 0;
				padding: 25px 0 0 0;
				color: $headings-color; 
				font-family: $headings-font-family;
				font-weight: $font-weight-bold;
				line-height: $headings-line-height;
				font-size: $font-size-lg;
				a { text-decoration: none; color: $headings-color; }
				strong { 
					display: block;
					margin-top: 10px;
					font-size: $h1-font-size;
				}	
			}
			
		}
	}
	
}