.page-section--hero-unit {	
	position: relative;	
	background: $gray-200;
	overflow: hidden;
	
	&--compact {
		
		.page-section--hero-unit__bg {
			background: #000;
			background-size: cover;
			height: 100%;
			width: 100%;
			max-width: 1920px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.page-section--hero-unit__inner {
			text-align: center;
			min-height: 25vh;	
			justify-content: center;
				
			@include media-breakpoint-down(sm) {
				min-height: 40vh;
			}
			
			.container {
				flex-grow: 0;
				.block--text {
					.block__title { padding: 0; margin: 0; }
				}
			}
		}
	}
	
	&__bg {
		position: absolute;
		top: 0; bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		max-width: 1920px;
		.swiper-container {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0; top: 0; right: 0; bottom: 0;
		}
		.swiper-slide {
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover; 
			background-repeat: no-repeat;
			background-position: center center;
		}
			
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%);
			z-index: 10;
			@include gradient-y(rgba(0,0,0,.45), rgba(0,0,0,.1), 50%, 100%);
		}
	}
	
	&__inner {	
		display: flex;
		flex-direction: column;
		position: relative;
		flex-wrap: nowrap;
		align-items: flex-start;
		z-index: 20;
		min-height: 40vh;
		width: 100%;
		
		@include media-breakpoint-down(sm) {
			min-height: 40vh;
		}
	
		.container {
			flex: 1 0 auto;
			.block--text {
				padding: 0 0 30px 0;
				.block__title {
					margin-bottom: 15px;
					> * { 
						color: $white; 
						text-shadow: 0 1px 10px rgba(0,0,0,.5);
					}
				}
				.block__content {
					color: $white;
					p { text-shadow: 0 1px 10px rgba(0,0,0,.5); }
				}
			}
		}	
					
		// animated scroll hint
		.scroll-hint {
			display: flex;
			width: 100%;
			align-self: flex-end;
			justify-content: center;
			margin: 20px 0 0 0;
			.material-icons {
				color: $white;
			}
		}
	}
}