.page-section--masthead {
	background: $primary;
	position: relative;
	padding-bottom: 80px !important;
	
	.block--text {
		text-align: center;
		color: $black;
		.block__title {
			margin-bottom: 15px;
		}
		.block__content {
			.lead { color: darken($primary, 25%); }
		}
	}	
				
	// animated scroll hint
	.scroll-hint {
		display: flex;
		width: 100%;
		align-self: flex-end;
		justify-content: center;
		margin: 10px 0 0 0;
		.scroll-hint__icon {
			justify-content: center;
			animation-name: moveDownUp; // defined in _keyframes.scss
			animation-duration: 1s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
		}
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 50px;
		background-color:rgba(255,255,255,1);
		-webkit-clip-path:polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
		-moz-clip-path:polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
		clip-path:polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
	}
	
}