.page-section--steps {
	
	ol { margin-bottom: 0; }
	
	.block--step {
		margin-bottom: 0;
		&__icon {
			text-align: center;
			display: block;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background: $primary;
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
			line-height: 120px;
			.material-icons {
				color: $secondary;
				font-size: 5rem;
			}
		}
		.block__title {
			margin-bottom: 10px;
		}
	}
	
	.buttons-set {
		text-align: center;
	}
}