.page-section--usps {
	padding: 10px 0;
	ul {
		margin-bottom: 0;
		li {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			font-size: $font-size-sm;
			@extend .text-muted;
			div { flex: 0 1 75%; }
			.material-icons { font-size: 3rem; color: $primary;}
			strong { 
				display: block; 
				font-family: $headings-font-family;
				font-size: $font-size-lg;
				color: $headings-color;
			}
			
			@include media-breakpoint-down(sm) {
				+ li { margin-top: 20px; }
				div { flex: 0 1 80%; }
			}
		}
	}
	
	.view--calculator & {
		padding: 25px 0;
		background: none;
		ul li {
			.material-icons { color: $primary; }
		}
	}
	
	.view--index & {
		position: relative;
		padding: 15px 0;
		ul li {
			.material-icons { color: $white; }
			color: $black !important;
		}
	}
}