.page-section--visual {
	padding: 0;
	background: $gray-200;
	&__bg {
		background-size: cover;
		width: 100%;
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
		height: 30vh;
		background-repeat: no-repeat;
		background-position: center center;
	}
}