<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Producten {{ productId ? 'bewerk' : 'toevoegen'}}</span>
        </h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Title</label>
            <div class="col-md-8">
                <input v-model="product.title" class="form-control"
                       :class="{'is-invalid': getError('title')}"/>
                <span class="invalid-feedback"> {{ getError('title') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Category</label>
            <div class="col-md-8">
                <select class="form-control" v-model="product.category_id"
                        :class="{'is-invalid': getError('category_id')}">
                    <option :value="category.id" v-for="category in categories">{{category.name}}</option>
                </select>
                <span class="invalid-feedback"> {{ getError('category_id') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Leverancier</label>
            <div class="col-md-8">
                <select class="form-control" v-model="product.supplier_id"
                        :class="{'is-invalid': getError('supplier_id')}">
                    <option :value="supplier.id" v-for="supplier in suppliers">{{supplier.name}}</option>
                </select>
                <span class="invalid-feedback"> {{ getError('supplier_id') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Prijs</label>
            <div class="col-md-8">
                <input v-model="product.price" type="number" class="form-control"
                       :class="{'is-invalid': getError('price')}"/>
                <span class="invalid-feedback"> {{ getError('price') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Product nummer</label>
            <div class="col-md-8">
                <input v-model="product.product_number" type="number" class="form-control"
                       :class="{'is-invalid': getError('product_number')}"/>
                <span class="invalid-feedback"> {{ getError('product_number') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Omschrijving</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" v-model="product.description"
                          :class="{'is-invalid': getError('description')}"></textarea>
                <span class="invalid-feedback"> {{ getError('description') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Voorraad Werkendam</label>
            <div class="col-md-8">
                <input v-model="product.stock_werkendam" type="number" class="form-control"
                       :class="{'is-invalid': getError('stock_werkendam')}"/>
                <span class="invalid-feedback"> {{ getError('stock_werkendam') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Voorraad Tholen</label>
            <div class="col-md-8">
                <input v-model="product.stock_tholen" type="number" class="form-control"
                       :class="{'is-invalid': getError('stock_tholen')}"/>
                <span class="invalid-feedback"> {{ getError('stock_tholen') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Voorraad Zandijk</label>
            <div class="col-md-8">
                <input v-model="product.stock_zandijk" type="number" class="form-control"
                       :class="{'is-invalid': getError('stock_zandijk')}"/>
                <span class="invalid-feedback"> {{ getError('stock_zandijk') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Manual</label>
            <div class="col-md-3">
                <select class="form-control" v-model="product.manual_id"
                        :class="{'is-invalid': getError('manual_id')}">
                    <option value="0">None</option>
                    <option :value="manual.id" v-for="manual in manuals">{{manual.title}}</option>
                </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Page</label>
            <div class="col-md-3">
                <input class="form-control" v-model="product.page"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Image</label>
            <div class="col-md-8">
                <div v-if="product.thump" class="mb-3">
                    <img :src="getImageUrl(product.thump)"/>
                    <div>
                        <a href="#" @click.prevent="deleteImage()">Delete</a>
                    </div>
                </div>
                <file-input v-model="product.image" :class="{'is-invalid': getError('image')}"
                            :class-name="getError('image') ? 'is-invalid' : ''"></file-input>
                <span class="invalid-feedback"> {{ getError('image') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-8">
                <button v-on:click="save()" class="btn btn-success">Opslaan</button>
            </div>
        </div>
        <loading v-if="isLoading"></loading>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['productId'],
        created() {
            if (this.productId) {
                this.getProduct();
            }
            this.getCategories();
            this.getSuppliers();
            this.getManuals();
        },
        data() {
            return {
                pdf: '',
                image: '',
                product: {},
                errors: {},
                categories: [],
                isLoading: false,
                suppliers: [],
                manuals: []
            }
        },
        methods: {
            getCategories() {
                axios.get('/api/categories/list').then(response => {
                    this.categories = response.data;
                });
            },
            getSuppliers() {
                axios.get('/api/suppliers/list').then(response => {
                    this.suppliers = response.data;
                });
            },
            getManuals() {
                axios.get('/api/manuals/list').then(response => {
                    this.manuals = response.data;
                });
            },
            getImageUrl(url) {
                return window.location.origin + '/' + url;
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            deleteImage() {
                this.isLoading = true;

                const id = this.productId;
                if (id && confirm('Weet je zeker dat je de afbeelding wilt verwijderen?')) {
                    axios.post('/api/products/' + id + '/image/delete').then(response => {
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Afbeelding is succesvol verwijderd!'
                        });
                        this.product.thump = false;
                    }).finally(() => {
                        this.isLoading = false;
                    });
                }
            },
            save() {
                this.isLoading = true;
                const data = new FormData;

                for (let key in this.product) {
                    const value = this.product[key];
                    if (value !== null) {
                        data.append(key, this.product[key]);
                    }
                }

                const url = '/api/products/' + (this.productId ? this.productId + '/save' : 'create');

                axios.post(url, data, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(response => {
                    this.product = response.data;
                    this.resetFilePath();
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Product saved successfully!'
                    });
                    this.$router.push('/products');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getProduct() {
                this.isLoading = true;

                axios.get('/api/products/' + this.productId).then(response => {
                    this.product = response.data;
                    this.resetFilePath();
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            resetFilePath() {
                this.product.pdf_path = this.product.pdf;
                this.product.image_path = this.product.image;
                this.product.pdf = null;
                this.product.image = null;
            }
        }
    }
</script>