<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Producten</span>
            <router-link to="/products/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="products.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Leverancier</th>
                        <th>Omschrijving</th>
                        <th>Prijs</th>
                        <th>Product nummer</th>
                        <th>Voorraad Werkendam</th>
                        <th>Voorraad Tholen</th>
                        <th>Voorraad Zandijk</th>
                        <th>Image</th>
                        <th>Manual</th>
                        <th>Bewerken</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in products.data">
                        <td>{{ product.title }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.supplier.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.product_number }}</td>
                        <td>{{ product.stock_werkendam }}</td>
                        <td>{{ product.stock_tholen }}</td>
                        <td>{{ product.stock_zandijk }}</td>
                        <td>
                            <a target="_blank" :href="product.image">
                                <img :src="product.thump" style="width: 75px;">
                            </a>
                        </td>
                        <td>
                            <a v-if="product.manual" target="_blank"
                               :href="getManualPath(product.manual, product.page)">
                                {{ product.manual.title }} {{ product.page ? '(page ' + product.page + ')' : ''}}
                            </a>
                        </td>
                        <td>
                            <router-link :to="'/products/' + product.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <router-link :to="'/products/' + product.id + '/out/'" class="btn btn-sm btn-secondary"
                                         v-if="user.role !== 'operator'">
                                <span class="fa fa-share-square"></span>
                            </router-link>
                            <button @click="deleteProduct(product)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{products.from }}-{{products.to}} of {{products.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        data() {
            return {
                user: window.user,
                isLoading: true,
                showOriginal: false,
                id: null,
                products: {
                    data: []
                }
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts(page) {
                this.isLoading = true;
                axios.get('/api/products', {
                    params: {page: page || 1}
                }).then(response => {
                    this.products = response.data;
                    this.isLoading = false;
                }).finally(() => {
                    //this.isLoading = false;
                });
            },
            deleteProduct(product) {
                if (confirm('Are you sure that you want to delete product ' + product.description + '?')) {
                    axios.post('/api/products/' + product.id + '/delete').then(response => {
                        this.getProducts();
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Product removed successfully!'
                        });
                    }).catch(() => {
                    });
                }
            },
            getManualPath(manual, page) {
                return window.location.origin + '/' + manual.path + '#page=' + page;
            }
        }
    }
</script>