<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Create product out</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Product</label>
            <div class="col-md-8">
                <input class="form-control" disabled v-model="product.title"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Stock</label>
            <div class="col-md-8">
                <select class="form-control" v-model="productOut.stock"
                        :class="{'is-invalid': getError('stock')}">
                    <option :value="stock" v-for="(value, stock) in stocks">
                        {{ stock }} (Available: {{ value }})
                    </option>
                </select>
                <span class="invalid-feedback"> {{ getError('stock') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" v-model="productOut.amount"
                       :class="{'is-invalid': getError('amount')}"/>
                <span class="invalid-feedback"> {{ getError('amount') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Users</label>
            <div class="col-md-8">
                <select class="form-control" v-model="productOut.operator_id"
                        :class="{'is-invalid': getError('operator_id')}">
                    <option :value="user.id" v-for="user in users">{{user.name}} ({{user.role}})</option>
                </select>
                <span class="invalid-feedback"> {{ getError('operator_id') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Description</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" v-model="productOut.description"
                          :class="{'is-invalid': getError('description')}"></textarea>
                <span class="invalid-feedback"> {{ getError('description') }} </span>
            </div>
        </div>
        <div v-show="show" class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['productId'],
        created() {
            if (this.productId) {
                this.getProduct(this.productId);
                this.getUsers();
            }
        },
        data() {
            return {
                isLoading: false,
                errors: {},
                operators: [],
                users: [],
                show: true,
                isConfirm: false,
                stocks: {
                    werkendam: null,
                    tholen: null,
                    zandijk: null
                },
                product: {},
                productOut: {
                    description: null
                }
            }
        },
        methods: {
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            getProduct() {
                this.isLoading = true;
                axios.get('/api/products/' + this.productId).then(response => {
                    this.product = response.data;
                    this.stocks.werkendam = this.product.stock_werkendam;
                    this.stocks.tholen = this.product.stock_tholen;
                    this.stocks.zandijk = this.product.stock_zandijk;
                    this.productOut.product_id = this.product.id;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getUsers() {
                this.isLoading = true;
                axios.get('/api/users/list', {}).then(response => {
                    this.users = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            save() {
                this.isConfirm = true;

                if (this.productOut.amount > this.stocks[this.productOut.stock]) {
                    this.isConfirm = confirm('Only ' + this.productOut.stock.value + ' available. Please change to correct number to checkout. Or do you want to checkout ' + this.productOut.amount + ' pieces anyway?');
                }

                if (this.isConfirm) {
                    this.isLoading = true;

                    axios.post('/api/productout/create', this.productOut).then(response => {
                        if (response.status === 201) {
                            this.show = false;
                        }
                        this.errors = {};

                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Product Out saved successfully!'
                        });
                    }).catch(errors => {
                        this.errors = errors.response.data.errors || {};
                    }).finally(() => {
                        this.isLoading = false;
                    });
                }
            }
        }
    }
</script>