<template>
    <div>


        <h4 class="section-header d-flex">
            <span>Request producten</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Producten</label>
            <label class="col-7 col-sm-8 col-form-label">{{ product.title }}</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" v-model="request.amount"
                       :class="{'is-invalid': getError('amount')}">
                <span class="invalid-feedback"> {{ getError('amount') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Omscgrijving</label>
            <div class="col-md-8">
                <textarea class="form-control" v-model="request.description"
                          :class="{'is-invalid': getError('description')}"></textarea>
                <span class="invalid-feedback"> {{ getError('description') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
            </div>
        </div>

        <loading v-if="isLoading"></loading>
    </div>
</template>
<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['productId'],
        created() {
            if (this.productId) {
                this.getProduct();
            }
        },
        data() {
            return {
                user: window.user,
                request: {},
                product: {},
                errors: {},
                isLoading: false,
            }
        },
        methods: {
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.isLoading = true;
                this.product.user_id = this.user.id;
                this.product.product_id = this.productId;


                const url = '/api/products/' + this.productId + '/request';

                axios.post(url, this.request).then(response => {
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Request created successfully!'
                    });
                    this.$router.push('/');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getProduct() {
                this.isLoading = true;

                axios.get('/api/products/' + this.productId).then(response => {
                    this.product = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>