<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Requests</span>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="items.data" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Producten</th>
                        <th>Amount</th>
                        <th>Omscgrijving</th>
                        <th>Is processed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items.data">
                        <td>{{ item.user.name }}</td>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <span v-if="item.is_processed" class="fa fa-check"></span>
                            <button v-else @click="confirmProduct(item)" class="btn btn-sm btn-success">
                                <span class="fa fa-check"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{items.from }}-{{items.to}} of {{items.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="items" @pagination-change-page="getRequests"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        created() {
            this.getRequests();
        },
        data() {
            return {
                user: null,
                isLoading: true,
                showOriginal: false,
                id: null,
                items: {
                    data: []
                }
            }
        },
        methods: {
            getRequests(page) {
                this.isLoading = true;
                axios.get('/api/products/requests', {
                    params: {page: page || 1}
                }).then(response => {
                    this.items = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            confirmProduct(product) {
                if (confirm('Are you sure processed ' + product.description + '?')) {
                    axios.post('/api/products/' + product.id + '/processed').then(response => {
                        product.is_processed = true;
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Success!'
                        });
                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>