<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Leverancier {{ supplierId ? 'bewerk' : 'toevoegen'}}</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Naam Leverancier</label>
            <div class="col-md-8">
                <input class="form-control" v-model="supplier.name" :class="{'is-invalid': getError('name')}"/>
                <span class="invalid-feedback"> {{ getError('name') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['supplierId'],
        created() {
            if (this.supplierId) {
                this.get(this.supplierId);
            }
        },
        data() {
            return {
                isLoading: false,
                errors: {},
                operators: [],
                supplier: {
                    name: null,
                }
            }
        },
        methods: {
            get(supplierId) {
                this.isLoading = true;
                axios.get('/api/supplier/' + supplierId).then(response => {
                    this.supplier = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.isLoading = true;
                const url = '/api/supplier/' + (this.supplierId ? this.supplierId + '/save' : 'create');

                axios.post(url, this.supplier).then(response => {
                    this.supplier = response.data;
                    this.errors = {};

                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Supplier saved successfully!'
                    });
                    this.$router.push('/suppliers');
                }).catch(errors => {
                    this.errors = errors.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>