<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Leveranciers</span>
            <router-link to="/suppliers/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="suppliers.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Supplier name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="supplier in suppliers.data">
                        <td>{{ supplier.name }} </td>
                        <td>
                            <router-link :to="'/suppliers/' + supplier.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteSupplier(supplier)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{suppliers.from }}-{{suppliers.to}} of {{suppliers.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="suppliers" @pagination-change-page="getSuppliers"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        data() {
            return {
                isLoading: true,
                suppliers: {
                    data: []
                }
            }
        },
        created() {
            this.getSuppliers();
        },
        methods: {
            getSuppliers(page) {
                this.isLoading = true;
                axios.get('/api/suppliers', {
                    params: {page: page || 1}
                }).then(response => {
                    this.suppliers = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteSupplier(supplier) {
                if (confirm('Are you sure that you want to delete supplier ' + supplier.name + '?')) {
                    axios.post('/api/supplier/' + supplier.id + '/delete').then(response => {
                        this.getSuppliers();
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Supplier removed successfully!'
                        });
                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>