<template>
    <div>
        <loading v-if="isLoading"></loading>
        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead>
                <tr>
                    <th>Operators</th>
                    <th>Bus</th>
                    <th>Pomp</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="operator in operators.data">
                    <td>{{ operator.name }}</td>
                    <td>
                        <div class="col">
                            <select class="form-control" v-model="operator.busId">
                                <option :value="null">All</option>
                                <option :value="vehicle.id" v-for="vehicle in vehicles.data" v-if="vehicle.pump == 0">
                                    {{ vehicle.brand }} {{ vehicle.type }} {{ vehicle.sing }}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="col">
                            <select class="form-control" v-model="operator.pompId">
                                <option :value="null">All</option>
                                <option :value="vehicle.id" v-for="vehicle in vehicles.data" v-if="vehicle.pump == 1">
                                    {{ vehicle.brand }} {{ vehicle.type }} {{ vehicle.sing }}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-muted mb-3">
                <small>Items {{operators.from }}-{{operators.to}} of {{operators.total}}</small>
            </div>
            <div class="text-center">
                <pagination :data="operators" @pagination-change-page="getUsers"></pagination>
            </div>
            <div class="form-group">
                <div class="">
                    <button class="btn btn-success" @click="save">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        data() {
            return {
                isLoading: true,
                busId: {},
                pompId: {},
                vehicles: {},
                operators: {},
                items: {},
            }
        },
        created(){
            this.getVehicles();
            this.getUsers();
        },
        methods: {
            getVehicles(page){
                this.isLoading = true;
                axios.get('/api/vehicles', {
                    params: {page: page || 1}
                }).then(response => {
                    this.vehicles = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getUsers(page) {
                this.isLoading = true;
                axios.get('/api/users/operators/all', {
                    params: {page: page || 1}
                }).then(response => {
                    const operators = response.data.data;

                    operators.forEach(operator => {
                        operator.busId = operator.bus.length ? operator.bus[0].id : null;
                        operator.pompId = operator.pomp.length ? operator.pomp[0].id : null;
                    });

                    this.operators = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            save() {
                this.isLoading = true;

                const url = '/api/vehicles/save/relation';

                axios.post(url, {data: this.operators.data}).then(response => {
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'operators saved successfully!'
                    });
//                    this.$router.push('/users');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
        }
    }
</script>