<template>
    <div class="pl-3 pr-3">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2" v-if="user.role !== 'operator'">
                <router-link to="/maintenance">
                    <div class="main-icon">
                        <img src="/svg/maintenance.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2" v-if="user.role !== 'operator'">
                <router-link to="/stock">
                    <div class="main-icon">
                        <img src="/svg/products2.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <router-link to="/checklist/create">
                    <div class="main-icon">
                        <img src="/svg/checklist.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2" v-if="user.role !== 'operator'">
                <router-link to="/reports/delivery">
                    <div class="main-icon">
                        <img src="/svg/search_report.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2" v-if="user.role !== 'operator'">
                <router-link to="/checklist">
                    <div class="main-icon">
                        <img src="/svg/search_vehicle.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2" v-if="user.role !== 'operator'">
                <router-link to="/vehicles/operator">
                    <div class="main-icon">
                        <img src="/svg/category.svg"/>
                    </div>
                </router-link>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <router-link to="/manual">
                    <div class="main-icon">
                        <img src="/svg/putzmeister.svg"/>
                    </div>
                </router-link>
            </div>

            <div class="col-6 col-sm-4 col-md-2">
                <router-link to="/vehicles">
                    <div class="main-icon">
                        <img src="/svg/category.svg"/>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: window.user
            }
        }
    }
</script>
