<template>
    <div>
        <h4 class="section-header d-flex">
            <span>{{ categoryId ? 'Edit' : 'Create'}} category</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Category name</label>
            <div class="col-md-8">
                <input class="form-control" v-model="category.name" :class="{'is-invalid': getError('name')}"/>
                <span class="invalid-feedback"> {{ getError('name') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['categoryId'],
        created() {
            if (this.categoryId) {
                this.get(this.categoryId);
            }
        },
        data() {
            return {
                isLoading: false,
                errors: {},
                operators: [],
                category: {
                    name: null,
                }
            }
        },
        methods: {
            get(categoryId) {
                this.isLoading = true;
                axios.get('/api/category/' + categoryId).then(response => {
                    this.category = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.isLoading = true;
                const url = '/api/category/' + (this.categoryId ? this.categoryId + '/save' : 'create');

                axios.post(url, this.category).then(response => {
                    this.category = response.data;
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Category saved successfully!'
                    });
                    this.$router.push('/categories');
                    this.errors = {};
                }).catch(errors => {
                    this.errors = errors.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>