<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Categories</span>
            <router-link to="/categories/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="categories.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="category in categories.data">
                        <td>{{ category.name }}</td>
                        <td>
                            <router-link :to="'/categories/' + category.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteCategory(category)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{categories.from }}-{{categories.to}} of {{categories.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="categories" @pagination-change-page="getCategories"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        data() {
            return {
                isLoading: true,
                categories: {
                    data: []
                }
            }
        },
        created() {
            this.getCategories();
        },
        methods: {
            getCategories(page) {
                this.isLoading = true;
                axios.get('/api/categories', {
                    params: {page: page || 1}
                }).then(response => {
                    this.categories = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteCategory(category) {
                if (confirm('Weet je zeker dat je de category wil verwijderen ' + category.name + '?')) {
                    axios.post('/api/category/' + category.id + '/delete').then(response => {
                        //category/{category}/delete
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Category successvol verwijderd!'
                        });
                        this.getCategories();

                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>