<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Bericht {{ messageId ? 'bewerk' : 'toevoegen'}}</span>
        </h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Wekelijkse bericht</label>
            <div class="col-md-8">
                <textarea class="form-control" v-model="message.message" :class="{'is-invalid': getError('message')}"></textarea>
                <span class="invalid-feedback"> {{ getError('message') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" @click="save">Opslaan</button>
                <loading v-if="isLoading"></loading>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['messageId'],
        created() {
            if (this.messageId) {
                this.get(this.messageId);
            }
        },
        data() {
            return {
                isLoading: false,
                errors: {},
                operators: [],
                message: {}
            }
        },
        methods: {
            get(messageId) {
                this.isLoading = true;

                axios.get('/api/message/' + messageId).then(response => {
                    this.message = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.isLoading = true;
                const url = '/api/message/' + (this.messageId ? this.messageId + '/save' : 'create');

                axios.post(url, this.message).then(response => {
                    this.message = response.data;
                    this.errors = {};

                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'message saved successfully!'
                    });
                    this.$router.push('/weekly/message/list');
                }).catch(errors => {
                    this.errors = errors.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>