<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Wekelijkse bericht</span>
            <router-link to="/weekly/message/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="messages.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Het bericht</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="message in messages">
                        <td>{{ message.message }}</td>
                        <td>
                            <router-link :to="'/weekly/message/' + message.id + '/edit/'"
                                         class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteMessage(message)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        data() {
            return {
                isLoading: true,
                messages: {
                    data: []
                }
            }
        },
        created() {
            this.getMessages();
        },
        methods: {
            getMessages() {
                this.isLoading = true;
                axios.get('/api/messages').then(response => {
                    this.messages = response.data;
                    console.log(this.messages);
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteMessage(message) {
                if (confirm('Are you sure that you want to delete message ' + message.message + '?')) {
                    axios.post('/api/message/' + message.id + '/delete').then(response => {
                        this.getMessages();
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'message removed successfully!'
                        });
                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>