<template>
    <label class="custom-file">
        <input type="file" class="custom-file-input" :class=[className] @change="change">
        <label class="custom-file-label">{{ file ? file.name : 'Choose file' }}</label>
    </label>
</template>

<script>
    export default {
        props: ['className', 'value'],
        data() {
            return {
                file: null
            }
        },
        methods: {
            change(event) {
                this.file = event.target.files[0];
                this.$emit('input', this.file);
            }
        }
    }
</script>
