<template>
    <div class="d-flex pt-4">
        <pulse-loader class="mx-auto" :size="'18px'" :color="'#fc0'"></pulse-loader>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

    export default {
        components: {PulseLoader}
    }
</script>
