<template>
    <div class="modal" style="display: block;">

        <div class="modal-content">
            <button type="button" v-on:click="close()"  class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <!--<span v-on:click="close()" class="close" aria-label="Close">&times;</span>-->
            <div>
                <img class="rounded mx-auto d-block" v-if="product.id == id" :src="product.image" alt="img">
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['image', 'closeModal', 'product', 'id'],
        data() {
            return {
                //
            }
        },
        methods: {
            close() {
                this.closeModal();
            },
        }
    }
</script>