<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Scan Qr Code</span>

            <button type="button" class="btn btn-light ml-auto" @click="close">
                <span class="fa fa-times"></span> Close
            </button>
        </h4>

        <div class="camera">
            <div>
                <div v-if="error" class="error-block">{{ error }}</div>
                <video v-else autoplay="" playsinline="" id="preview"></video>
            </div>
        </div>
    </div>
</template>

<script>
    import QrScanner from '../Common/qr-scanner.min.js';

    export default {
        props: ['onScan', 'onClose'],
        data() {
            return {
                scanner: null,
                error: ""
            }
        },
        destroyed() {
            if (this.scanner) {
                this.scanner.stop();
            }
        },
        mounted() {
            this.scanner = new QrScanner(document.getElementById('preview'), result => {
                this.onScan(result);
            });

            this.scanner.start().catch(error => {
                this.error = error;
            });
        },
        methods: {
            start(camera) {
                this.cameraId = camera.id;
                this.scanner.start(camera).catch(e => {
                    this.error = e.message;
                    this.scanner.stop();
                });
            },
            changeCamera() {
                this.cameras.forEach(item => {
                    if (item.id === this.cameraId) {
                        this.start(item);
                    }
                });
            },
            close() {
                this.scanner.stop();
                this.onClose();
            }
        }
    }
</script>

<style scoped>
    video {
        width: 100%;
    }

    .camera {
        position: relative;
        width: 100%;
        min-height: 200px;
    }

    .camera:before, .camera:after, .camera > :first-child:before, .camera > :first-child:after {
        position: absolute;
        width: 80px;
        height: 80px;
        border: solid #ffcd00;
        content: '';
    }

    .camera:before {
        z-index: 100;
        top: 0;
        left: 0;
        border-width: 3px 0 0 3px
    }

    .camera:after {
        z-index: 100;
        top: 0;
        right: 0;
        border-width: 3px 3px 0 0
    }

    .camera {
        padding: 10px;
    }

    .camera > :first-child:before {
        z-index: 100;
        bottom: 6px;
        right: 0;
        border-width: 0 3px 3px 0
    }

    .camera > :first-child:after {
        z-index: 100;
        bottom: 6px;
        left: 0;
        border-width: 0 0 3px 3px
    }

    .error-block {
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-75%);
        -ms-transform: translateY(-75%);
        transform: translateY(-75%);
    }
</style>