<template>
    <div>
        <h4 class="section-header d-flex">
            <span>{{ userId ? 'Bewerk' : 'Nieuwe'}} Gebruiker</span>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right">Naam</label>
                <div class="col-md-8">
                    <input class="form-control" v-model="user.name" :class="{'is-invalid': getError('name')}"/>
                    <span class="invalid-feedback"> {{ getError('name') }} </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right">Email</label>
                <div class="col-md-8">
                    <input class="form-control" v-model="user.email" :class="{'is-invalid': getError('email')}"/>
                    <span class="invalid-feedback"> {{ getError('email') }} </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right">Rol</label>
                <div class="col-md-8">
                    <select class="form-control" v-model="user.role" :class="{'is-invalid': getError('role')}">
                        <option value="operator">Machinst</option>
                        <option value="meganic">Monteur</option>
                        <option value="admin">Admin</option>
                    </select>
                    <span class="invalid-feedback"> {{ getError('role') }} </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right">Paswoord</label>
                <div class="col-md-8">
                    <input class="form-control" type="password" v-model="user.password" :class="{'is-invalid': getError('password')}"/>
                    <span class="invalid-feedback"> {{ getError('password') }} </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right">Bevestig Paswoord</label>
                <div class="col-md-8">
                    <input class="form-control" type="password" v-model="user.password_confirmation"
                           :class="{'is-invalid': getError('password_confirmation')}"/>
                    <span class="invalid-feedback"> {{ getError('password_confirmation') }} </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-md-8">
                    <button class="btn btn-success" @click="save">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        props: ['userId'],
        created() {
            if (this.userId) {
                this.get(this.userId);
            }
        },
        data() {
            return {
                isLoading: false,
                errors: [],
                user: {}
            }
        },
        methods: {
            get(userId) {
                this.isLoading = true;
                axios.get('/api/users/' + userId).then(response => {
                    this.user = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            save() {
                this.isLoading = true;

                const url = '/api/users/' + (this.userId ? this.userId + '/save' : 'create');

                axios.post(url, this.user).then(response => {
                    this.user = response.data;
                    this.errors = {};
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'User saved successfully!'
                    });
                    this.$router.push('/users');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            }
        }
    }
</script>