<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Gebruikers</span>
            <router-link to="/users/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> TOEVOEGEN
            </router-link>
        </h4>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="users.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users.data">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <router-link :to="'/users/' + user.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteUser(user)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{users.from }}-{{users.to}} of {{users.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="users" @pagination-change-page="getUsers"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        data() {
            return {
                isLoading: true,
                users: {
                    data: []
                }
            }
        },
        created() {
            this.getUsers();
        },
        methods: {
            getUsers(page) {
                this.isLoading = true;
                axios.get('/api/users', {
                    params: {page: page || 1}
                }).then(response => {
                    this.users = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteUser(user) {
                if (confirm('Are you sure that you want to delete user ' + user.name + '?')) {
                    axios.post('/api/users/' + user.id + '/delete').then(response => {
                        this.getUsers();
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Gebruiker succesvol verwijderd!'
                        });
                    }).catch(() => {
                    });
                }
            }
        }
    }
</script>