<template>
    <div>
        <qr-scanner v-if="isOpenQrScanner" :on-scan="onScanSuccess" :on-close="closeScanner"></qr-scanner>

        <div v-if="!isOpenQrScanner">
            <h4 class="section-header d-flex">
                <span>Nieuw Onderhoudsrapport</span>
            </h4>
            <loading v-if="isLoading"></loading>
            <div v-else>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-md-right">Voertuig</label>
                    <div class="col-md-8">
                        <select class="form-control" v-model="maintenance.vehicle_id"
                                :class="{'is-invalid': getError('vehicle_id')}">
                            <option :value="vehicle.id" v-for="vehicle in vehicles">
                                {{vehicle.brand}} {{vehicle.type}} {{vehicle.sing}}
                            </option>
                        </select>
                        <span class="invalid-feedback"> {{ getError('name') }} </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-md-right">Omschrijving werkzaamheden</label>
                    <div class="col-md-8">
                        <textarea rows="5" class="form-control" v-model="maintenance.description"
                                  :class="{'is-invalid': getError('description')}"></textarea>
                        <span class="invalid-feedback"> {{ getError('name') }} </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-md-right">KM stand</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" v-model="maintenance.mileage"
                               :class="{'is-invalid': getError('vehicle_id')}">
                        <span class="invalid-feedback"> {{ getError('mileage') }} </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-md-right">Gebruikte producten</label>
                    <div class="col-md-8 col-form-label">
                        <ol v-if="products.length">
                            <li v-for="product in products">
                                {{ product.title }}, {{ product.category.name }} [{{product.product_number}}]
                                <span class="pointer float-right fa fa-times" @click="removeProduct(product)"></span>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-md-right">Productnummer</label>
                    <div class="col-md-8">
                        <cool-select
                                v-model="product_number"
                                :items="autocompleteProducts"
                                :loading="isAutocompleteLoading"
                                disable-filtering-by-search
                                @search="onProductnumberSearch"
                                @select="onProductSelect"
                                :inputClass="'form-control'"
                                :inputElCustomAttributes="{class: 'form-control'}"
                        >
                            <template slot="item" slot-scope="{ item }">
                                <span>{{ item.title }}, {{ item.category.name }} [{{ item.product_number }}]</span>
                            </template>
                        </cool-select>
                        <span class="invalid-feedback">{{ getError('products')}} </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <button class="btn btn-success" @click="save">Opslaan</button>
                        <button class="btn btn-success float-right" @click="openScanner">
                            <span class="fa fa-qrcode"></span> Scan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    import {CoolSelect} from 'vue-cool-select'

    export default {
        props: ['id'],
        components: {
            CoolSelect
        },
        created() {
            if (this.id) {
                this.get(this.id);
            }
            this.getVehicles();
        },
        data() {
            return {
                isLoading: false,
                isAutocompleteLoading: false,
                timeoutId: null,
                autocompleteProducts: [],
                isOpenQrScanner: false,
                product_number: null,
                errors: {},
                vehicles: [],
                products: [],
                maintenance: {
                    products: []
                }
            }
        },
        methods: {
            openScanner() {
                this.isOpenQrScanner = true;
            },
            closeScanner() {
                this.isOpenQrScanner = false;
            },
            onScanSuccess(content) {
                this.isOpenQrScanner = false;
                this.searchProduct(content);
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            addProduct(product) {
                this.products.push(product);
            },
            removeProduct(product) {
                const index = this.products.indexOf(product);

                if (index !== -1) {
                    this.products.splice(index, 1);
                }
            },
            getVehicles() {
                axios.get('/api/vehicles/list').then(response => {
                    this.vehicles = response.data;
                });
            },
            searchProduct(productNumber) {
                axios.get('/api/products/search/' + productNumber, {params: {alert: true}}).then(response => {
                    this.addProduct(response.data[0]);
                });
            },
            onProductSelect(item) {
                this.addProduct(item);

                setTimeout(() => {
                    this.product_number = null;
                }, 0)
            },
            onProductnumberSearch(search) {
                if (search.length < 3) {
                    this.autocompleteProducts = [];
                    this.isAutocompleteLoading = false;
                    return;
                }

                clearTimeout(this.timeoutId);

                this.timeoutId = setTimeout(async () => {
                    this.isAutocompleteLoading = true;

                    axios.get('/api/products/search/' + search).then(response => {
                        this.autocompleteProducts = response.data;
                    }).finally(() => {
                        this.isAutocompleteLoading = false;
                    })
                }, 500);
            },
            save() {
                this.maintenance.is_subtract = confirm('subtract this products from stock Werkendam?');
                this.isLoading = true;
                this.maintenance.products = this.products.map(item => {
                    return item.id;
                });
                const url = '/api/maintenance/' + (this.id ? this.id + '/save' : 'create');
                axios.post(url, this.maintenance).then(response => {
                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Maintenance was successfully created!'
                    });
                    this.$router.push('/maintenance');
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            get() {
                this.isLoading = true;

                axios.get('/api/maintenance/' + this.id).then(response => {
                    this.maintenance = response.data;

                    response.data.products.forEach(product => {
                        const amount = product.pivot.amount;

                        for (let i = 0; i < amount; i++) {
                            this.products.push(product);
                        }
                    });
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
        }
    }
</script>

<style>
    ol {
        list-style-position: inside;
    }

    .pointer:hover {
        cursor: pointer;
    }

    .IZ-select__menu {
        padding: 0px !important;
    }

    .IZ-select__item {
        padding: 5px 14px !important;
    }

    .IZ-select__input.IZ-select__input--focused {
        border-color: none !important;
        box-shadow: none !important;
    }
</style>