<template>
    <div>
        <h4 class="section-header row">
            <span class="col-sm-6 mb-1">
            <span>Onderhoudsrapporten</span>
            </span>
            <span class="col-sm-6 mb-1">
            <router-link to="/maintenance/create" class="float-left float-sm-right btn btn-sm btn-success">
                <span class="fa fa-plus"></span> Toevoegen
            </router-link>
            </span>
        </h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Voertuig</label>
            <div class="col-md-6">
                <select class="form-control" v-model="vehicleId" v-on:change="getProducts">
                    <option value="0">All</option>
                    <option :value="vehicle.id" v-for="vehicle in vehicles">
                        {{vehicle.brand}} {{vehicle.type}} {{vehicle.sing}}
                    </option>
                </select>
            </div>
        </div>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="maintenance.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Monteur</th>
                        <th>Voertuig</th>
                        <th>Datum</th>
                        <th>KM stand</th>
                        <th>Omschrijving werkzaamheden</th>
                        <th>Gebruikte producten</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="service in maintenance.data">
                        <td>{{ service.meganic.name }}</td>
                        <td>{{ service.vehicle.brand }}</td>
                        <td>{{ service.created_at }}</td>
                        <td>{{ service.mileage }}</td>
                        <td>{{ service.description }}</td>
                        <td>
                            <div v-for="product in service.products">{{ product.title }} ({{product.pivot.amount}}
                                pcs.)
                            </div>
                        </td>
                        <td>
                            <div v-if="canEdit(service.created_at)">
                                <router-link :to="'/maintenance/' + service.id + '/edit/'"
                                             class="btn btn-sm btn-secondary">
                                    <span class="fa fa-edit"></span>
                                </router-link>
                                <button @click="deleteSupplier(message)" class="btn btn-sm btn-danger">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{maintenance.from }}-{{maintenance.to}} of {{maintenance.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="maintenance" @pagination-change-page="getProducts"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        data() {
            return {
                user: window.user,
                isLoading: false,
                vehicles: [],
                vehicleId: 0,
                show: false,
                date: null,
                maintenance: {
                    data: []
                }
            }
        },
        created() {
            this.getProducts();
            this.getVehicles();
        },
        methods: {
            getProducts(page) {
                this.isLoading = true;
                axios.get('/api/maintenance', {
                    params: {
                        page: page || 1,
                        vehicle_id: this.vehicleId
                    }
                }).then(response => {
                    this.maintenance = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            canEdit(date){
                if (this.user.role === 'admin') {
                    return true;
                }

                let date1 = new Date(Date.now());
                let date2 = new Date(date);
                let daysLag = Math.ceil(Math.abs(date2.getTime() - date1.getTime()) / (1000 * 3600 * 24));

                return daysLag <= 3;
            },
            getVehicles() {
                axios.get('/api/vehicles/pump').then(response => {
                    this.vehicles = response.data;
                });
            },
        }
    }
</script>