<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Checklijsten {{ id ? 'bewerk' : 'toevoegen'}}</span>
        </h4>

        <div class="form-group row" v-if="messages.length">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <div class="alert-danger p-2 mb-2" v-for="message in messages">
                    {{message.message}}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Voertuig</label>
            <div class="col-md-8">
                <select class="form-control" v-model="checkList.vehicle_pump"
                        :class="{'is-invalid': getError('vehicle_pump')}">
                    <option :value="vehicle.id" v-for="vehicle in vehicles">
                        {{ vehicle.brand }} {{ vehicle.type }} {{ vehicle.sing }}
                    </option>
                </select>
                <span class="invalid-feedback"> {{ getError('vehicle_pump') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Urenstand</label>
            <div class="col-md-8">
                <input v-model="checkList.mileage" type="number" class="form-control"
                       :class="{'is-invalid': getError('mileage')}"/>
                <span class="invalid-feedback"> {{ getError('mileage') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Motorolie peil</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.motor_oil">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Hydrauliekolie peil</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.hydraulic_oil">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
            <span class="invalid-feedback"> {{ getError('hydraulic_oil') }} </span>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Spoelkast ververst</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.cooling_water">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
            <span class="invalid-feedback"> {{ getError('cooling_water') }} </span>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Opening slijtdelen in mm</label>
            <div class="col-md-8">
                <input v-model="checkList.wear_parts" type="number" class="form-control"
                       :class="{'is-invalid': getError('wear_parts')}"/>
                <span class="invalid-feedback"> {{ getError('wear_parts') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Dissel in orde (geen speling)</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.drawbar">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Op 4 punten in de bak vet</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.lubricating">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Bus</label>
            <div class="col-md-8">
                <select class="form-control" v-model="checkList.vehicle_van"
                        :class="{'is-invalid': getError('vehicle_van')}">
                    <option :value="vehicle.id" v-for="vehicle in vehiclesVan">
                        {{ vehicle.brand }} {{ vehicle.type }} {{ vehicle.sing }}
                    </option>
                </select>
                <span class="invalid-feedback"> {{ getError('vehicle_van') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Aantal klemmen</label>
            <div class="col-md-8">
                <input v-model="checkList.clamps" type="number" class="form-control"
                       :class="{'is-invalid': getError('clamps')}"/>
                <span class="invalid-feedback"> {{ getError('clamps') }} </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Laser aanwezig</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.laser">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Betonhark aanwezig</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.concrete_placer">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Dobbers aanwezig</label>
            <div class="col-md-8 pt-2">
                <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                    <label>
                        <input type="checkbox" v-model="checkList.dobber">
                        <span>&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-md-right">Eventuele bijzonderheden</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" v-model="checkList.note"
                          :class="{'is-invalid': getError('note')}"></textarea>
                <span class="invalid-feedback"> {{ getError('note') }} </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-md-8">
                <button v-on:click="save()" class="btn btn-success">Verzenden</button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import izitoast from 'izitoast';

    export default {
        props: ['id'],
        created() {
            if (this.id) {
                this.get();
            }
            this.getVehicles();
            this.getVehiclesVan();
            this.getWeeklyMessages();
        },
        data() {
            return {
                user: window.user,
                checkList: {
                    vehicle_pump: null,
                    motor_oil: false,
                    hydraulic_oil: false,
                    cooling_water: false,
                    drawbar: false,
                    lubricating: false,
                    vehicle_van: null,
                    laser: false,
                    concrete_placer: false,
                    dobber: false
                },
                errors: {},
                vehicles: [],
                vehiclesVan: [],
                messages: {}
            }
        },
        methods: {
            get() {
                this.isLoading = true;
                axios.get('/api/checklist/' + this.id).then(response => {
                    this.checkList = response.data;
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getVehicles() {

                axios.get('/api/vehicles/pump').then(response => {
                    this.vehicles = response.data;
                    if (!this.checkList.vehicle_pump) {
                        //By default set operator own vehicle
                        this.vehicles.forEach(vehicle => {
                            vehicle.operators.forEach(operator => {
                                if (operator.id === this.user.id) {
                                    this.checkList.vehicle_pump = vehicle.id;
                                }
                            });
                        });
                    }
                });
            },
            getVehiclesVan() {
                axios.get('/api/vehicles/van').then(response => {
                    this.vehiclesVan = response.data;
                    if (!this.checkList.vehicle_van) {
                        //By default set operator own vehicle
                        this.vehiclesVan.forEach(vehicle => {
                            vehicle.operators.forEach(operator => {
                                if (operator.id === this.user.id) {
                                    this.checkList.vehicle_van = vehicle.id;
                                }
                            });
                        });
                    }
                });
            },
            getWeeklyMessages() {
                axios.get('/api/messages').then(response => {
                    this.messages = response.data;
                });
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            save() {
                this.errors = {};
                const url = '/api/checklist/' + (this.id ? this.id + '/save' : 'create');
                axios.post(url, this.checkList).then(response => {
                    this.$router.push('/');

                    izitoast.show({
                        color: 'green',
                        title: 'Success!',
                        message: 'Check list saved successfully!'
                    });
                }).catch(error => {
                    this.errors = error.response.data.errors || {};
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>