<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Checklijsten</span>
            <router-link to="/checklist/create" class="ml-auto btn btn-sm btn-success">
                <span class="fa fa-plus"></span> Toevoegen
            </router-link>
        </h4>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-md-right">Voertuig</label>
            <div class="col-md-3">
                <select class="form-control" v-model="vehicleId" v-on:change="getCheckLists">
                    <option value="0">All</option>
                    <option :value="vehicle.id" v-for="vehicle in vehicles">
                        {{ vehicle.brand }} {{ vehicle.type }} {{ vehicle.sing }}
                    </option>
                </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Machinist</label>
            <div class="col-md-3">
                <select class="form-control" v-model="userId" v-on:change="getCheckLists">
                    <option value="0">All</option>
                    <option :value="operator.id" v-for="operator in operators">
                        {{ operator.name }}
                    </option>
                </select>
            </div>
        </div>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="checkLists.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Machinist</th>
                        <th>Voertuig</th>
                        <th>Urenstand</th>
                        <th>Motorolie</th>
                        <th>Hydrauliekolie</th>
                        <th>Spoelbak</th>
                        <th>Slijtdelen</th>
                        <th>Dissel</th>
                        <th>Vet</th>
                        <th>Bus</th>
                        <th>Klemmen</th>
                        <th>Laser</th>
                        <th>Betonhark</th>
                        <th>Dobber</th>
                        <th class="width-250">Bijzonderheid</th>
                        <th v-if="user.role === 'admin'">Actie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="checklist in checkLists.data">
                        <td> {{checklist.operator.name}}</td>
                        <td>
                            {{checklist.vehicle.sing}}
                        </td>
                        <td> {{checklist.mileage}}</td>
                        <td>
                            <span :class="[checklist.motor_oil ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <span :class="[checklist.hydraulic_oil ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <span :class="[checklist.cooling_water ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td> {{checklist.wear_parts}}</td>
                        <td>
                            <span :class="[checklist.drawbar ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <span :class="[checklist.lubricating ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            {{checklist.pomp.sing}}
                        </td>
                        <td> {{checklist.clamps}}</td>
                        <td>
                            <span :class="[checklist.laser ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <span :class="[checklist.concrete_placer ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <span :class="[checklist.dobber ? 'fa fa-check' : 'fa fa-times']"></span>
                        </td>
                        <td>
                            <readmore :text="checklist.note"></readmore>
                        </td>
                        <td v-if="user.role === 'admin'">
                            <router-link :to="'/checklist/' + checklist.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteCheckList(checklist)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{checkLists.from }}-{{checkLists.to}} of {{checkLists.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="checkLists" @pagination-change-page="getCheckLists"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    import ReadMore from './ReadMore';

    export default {
        components: {
            'readmore': ReadMore
        },
        data() {
            return {
                user: window.user,
                isLoading: true,
                vehicleId: 0,
                userId: 0,
                vehicles: [],
                operators: [],
                checkLists: {
                    data: []
                }
            }
        },
        created() {
            this.getCheckLists();
            this.getVehicles();
            this.getOperators();
        },
        methods: {
            getCheckLists(page) {
                this.isLoading = true;
                axios.get('/api/checklist', {
                    params: {
                        page: page || 1,
                        vehicle_id: this.vehicleId,
                        user_id: this.userId,
                    }
                }).then(response => {
                    this.checkLists = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getOperators() {
                axios.get('/api/users/operators').then(response => {
                    this.operators = response.data;
                });
            },
            getVehicles() {
                axios.get('/api/vehicles/pump').then(response => {
                    this.vehicles = response.data;
                });
            },
            deleteCheckList(checklist) {
                if (confirm('Are you sure that you want to delete check list ' + checklist.name + '?')) {
                    axios.post('/api/checklist/' + checklist.id + '/delete').then(response => {
                        this.getCheckLists();
                        izitoast.show({
                            color: 'green',
                            title: 'Success!',
                            message: 'Checklist removed successfully!'
                        });
                    });
                }
            }
        }
    }
</script>

<style scoped>
    .table th,
    .table td {
        padding: .75rem .25rem;
    }

    .width-250 {
        min-width: 250px;
    }
</style>