<template>
    <div v-if="text">
        <div v-show="text.length < 10">{{text}}</div>
        <div v-show="text.length > 10 && !showMore">
            {{text.substr(0, 10)}}...
            <a href="#" v-on:click="show" style="color: #2ca02c">Read more</a>
        </div>
        <div v-show="showMore">
            {{text}}
            <a href="#" v-on:click="show" style="color: #2ca02c">Lees meer</a>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['text'],
        data() {
            return {
                showMore: false
            }
        },
        methods: {
            show(){
                this.showMore = !this.showMore;
            }
        }
    }
</script>