.view--calculator {
	
	.page__main {
		.page-section--faq.page-section--trapezoid-down {
			padding-top: 50px;
		}
		.page-section--faq.page-section--trapezoid-down:before {
			display: none;
		}
	}
}