.view--index {
	.page-section--page-text {
		.block--text {
			.block__title {
				text-align: center;
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 100%;
					max-width: 200px;
					height: 6px;
					background: $primary;
					margin-left: auto;
					margin-right: auto;
					margin-top: 28px;
				}
			}
		}
	}
}