.view--service-landing {
	
	.page-section--page-intro {
		padding-bottom: 100px;
		
		.block--text {
			.block__content {
				
				ul {
					@extend .list-unstyled;
					margin: 0;
					padding: 0;
					> li {
						margin: 0 0 15px 0;
						padding: 0;
						&:last-child { margin-bottom: 0; }
						&:before {
							@extend .material-icons;
							content: "arrow_right";
							font-size: $font-size-lg;
							margin-right: 4px;
							color: $primary;
						}
					}
				}
				
				.buttons-set { 
					margin-top: $spacer * 2;
					text-align: center;
				}
				
			}
		}
		
	}
	
	.page-section--selling {
		padding-bottom: 100px;
		
		.visual {
			position: relative;
			margin: -100px $spacer ($spacer * 2) $spacer;
		}
		
		.block--text {
			.block__title {
				text-align: center;
			}
			.block__content {
				
				ul { 
					@extend .list-unstyled;
					margin: $spacer 0;
					padding: 0;
					li {
						margin: 0 0 15px 0;
						padding: 0;
						&:last-child { border-bottom: 0; }
						&:before {
							@extend .material-icons;
							content: "arrow_right";
							font-size: $font-size-lg;
							margin-right: 4px;
							color: $secondary;
						}
					}
				}
				
				.buttons-set { 
					margin-top: $spacer * 2;
					text-align: center;
				}
				
			}
		}
		
	}
	
	.page-section--requirements {
		padding-bottom: 0;
		.block--text {
			position: relative;
			margin: -100px $spacer ($spacer * 2) $spacer;
			.block__content {
				
				.card {
					background: $primary;
					padding: $spacer;
					&-title {
						border-bottom: 1px solid darken($primary, 5%);
						margin: 0 0 $spacer 0;
						padding: 0 0 $spacer 0;
					}
					&-body {
				
						ul { 
							@extend .list-unstyled;
							margin: 0 0 $spacer 0;
							padding: 0;
							li {
								margin: 0 0 15px 0;
								padding: 0;
								&:last-child { border-bottom: 0; }
								&:before {
									@extend .material-icons;
									content: "check";
									font-size: $font-size-lg;
									margin-right: 4px;
								}
							}
						}
						
					}
				}
				
			}
		}	
	}
	
	.page-section--testimonials {
		background: $gray-800;
		color: $white; 

		.swiper {
			&-slide { 
				text-align: center; 
			}
			&-pagination-bullets {
				bottom: auto;
				left: auto;
				position: static;
			}
			&-pagination-bullet {
				background-color: $white;
			}
			&-pagination-bullet-active {
				background-color: $primary;
			}
		}
		
		.blockquote {
			p { 
				color: $white;
				font-family: $headings-font-family;
				font-weight: $font-weight-light;
				margin: 0;
				max-width: 640px;
				margin-left: auto;
				margin-right: auto; 
			}	
			&-footer { color: $gray-500; margin-top: $spacer/2; }
			&-footer:before {
				color: $primary;
			}
		}
	}
	
	.page-section--form {
		.block--form {
			.block__title {
				text-align: center;
			}
			.block__content {
				
				.buttons-set { 
					margin-top: $spacer * 2;
					text-align: center;
				}
			}
		}
	}
	
	.page-section--usps {
		margin-bottom: 50px;
	}
	
}