.view--static {
	
	.page-section--page-text {
		padding-bottom: 15px;
		
		.block--text {
			.block__figure {
				box-shadow: 0 0 20px rgba(0,0,0,.15);
				margin-bottom: 30px;
			}
		}
		
	}
	
	&.view--success {
		
		.page-section--page-text {
			.block--text {
				.icon {
					text-align: center;
					margin: 30px auto 30px auto;
					width: 6rem;
					line-height: 6rem;
					border-radius: 50%;
					color: $white;
					text-align: center;
					background: $success;
					.material-icons { font-size: 3rem; }
				}
				.block__content {
					.buttons-set {
						margin-top: 30px;
					}
				}
			}
		}
	}
	
}