<template>
    <div>
        <h4 class="section-header d-flex">
            <span>Goederenuitgifte</span>
        </h4>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-md-right">Product</label>
            <div class="col-md-3">
                <select class="form-control" v-model="productId" v-on:change="getProductOut">
                    <option  value="0">All</option>
                    <option :value="product.id" v-for="product in products" >
                        {{ product.title }} [{{ product.product_number }}]
                    </option>
                </select>
            </div>

            <label class="col-sm-2 col-form-label text-md-right">Machinist</label>
            <div class="col-md-3">
                <select class="form-control" v-model="operatorId" v-on:change="getProductOut">
                    <option  value="0">All</option>
                    <option :value="operator.id" v-for="operator in users" >
                        {{ operator.name }}<!-- {{ product.title || ''}}-->
                    </option>
                </select>
            </div>
        </div>
        <loading v-if="isLoading"></loading>
        <div v-else>
            <div v-if="productout.data.length" class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Machinist</th>
                        <th>Gebruiker</th>
                        <th>Omschrijving</th>
                        <th>Hoeveelheid</th>
                        <th>Voorraad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in productout.data">
                        <td>{{ product.product.title }}</td>
                        <td>{{ product.operator.name }}</td>
                        <td>{{ product.user.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.stock }}</td>
                        <!--<td>
                            <router-link :to="'/productout/' + product.id + '/edit/'" class="btn btn-sm btn-secondary">
                                <span class="fa fa-edit"></span>
                            </router-link>
                            <button @click="deleteProduct(product)" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="text-muted mb-3">
                    <small>Items {{productout.from }}-{{productout.to}} of {{productout.total}}</small>
                </div>
                <div class="text-center">
                    <pagination :data="productout" @pagination-change-page="getProductOut"></pagination>
                </div>
            </div>
            <div v-else>
                Nothing found!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import izitoast from 'izitoast';
    export default {
        data() {
            return {
                isLoading: true,
                productId: 0,
                operatorId: 0,
                users: {},
                products: {},
                productout: {
                    data: []
                }
            }
        },
        created() {
            this.getProductOut();
            this.getProducts();
            this.getOperators();
        },
        methods: {
            getProductOut(page) {
                this.isLoading = true;
                axios.get('/api/productout', {
                    params: {page: page || 1,
                    product_id: this.productId,
                    operator_id: this.operatorId
                    }
                }).then(response => {
                    this.productout = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getProducts() {
                this.isLoading = true;
                axios.get('/api/products/list').then(response => {
                    this.products = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            getOperators() {
                this.isLoading = true;
                axios.get('/api/users/operators').then(response => {
                    this.users = response.data;
                }).finally(() => {
                    this.isLoading = false;
                });
            },
        }
    }
</script>