<template>
    <div>
        <qr-scanner v-if="isOpenQrScanner" :on-scan="onScanSuccess" :on-close="closeScanner"></qr-scanner>

        <div v-if="!isOpenQrScanner">
            <h4 class="section-header d-flex">
                <span>Voorraad</span>
            </h4>
            <div class="form-group row"><!--v-if="products.length === 0"-->
                <label class="col-sm-3 col-form-label text-md-right">Product nummer</label>
                <div class="col-md-8">
                    <cool-select
                            v-model="product_number"
                            :items="autocompleteProducts"
                            :loading="isAutocompleteLoading"
                            disable-filtering-by-search
                            @search="onProductnumberSearch"
                            @select="onProductSelect"
                            :inputClass="'form-control'"
                            :inputElCustomAttributes="{class: 'form-control'}"
                    >
                        <template slot="item" slot-scope="{ item }">
                            <span>{{ item.title }}, {{ item.category.name }} [{{ item.product_number }}]</span>
                        </template>
                    </cool-select>
                    <span class="invalid-feedback">{{ getError('products')}} </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-md-8">
                    <button class="btn btn-success ml-auto" @click="openScanner">
                        <span class="fa fa-qrcode"></span> Scan
                    </button>
                </div>
            </div>

            <loading v-if="isLoading"></loading>

            <div v-if="isLoaded && !product" class="p-4 text-center">
                <h5>Product with number {{founded_number}} not found!</h5>
            </div>
            <div v-if="products.length" v-for="product in products" class="mt-4">
                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Title:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.title}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Category:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.category.name}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Supplier:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.supplier.name}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Price: </label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.price}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Product number:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.product_number}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Description: </label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.description}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Stock Werkendam:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.stock_werkendam}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Stock Tholen:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.stock_tholen}}
                    </label>
                </div>

                <div class="form-group mb-0 row">
                    <label class="col-5 col-sm-3 col-form-label text-md-right">Stock Zandijk:</label>
                    <label class="col-7 col-sm-8 col-form-label">
                        {{product.stock_zandijk}}
                    </label>
                </div>
                <div class="form-group mb-0 row">
                    <label class="col-sm-3 col-form-label text-md-right">Image</label>
                    <div class="col-sm-8">
                        <a target="_blank" :href="product.image">
                            <img :src="product.thump">
                        </a>
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <label class="col-sm-3 col-form-label text-md-right">Manual</label>
                    <label class="col-sm-8 col-form-label" v-if="product.manual">
                        <a target="_blank" :href="getManualPath(product.manual, product.page)">
                            {{ product.manual.title }} {{ product.page ? '(page ' + product.page + ')' : ''}}
                        </a>
                    </label>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-md-8">
                        <router-link :to="'/products/' + product.id + '/out/'" class="ml-auto btn btn-sm btn-success"
                                     v-if="user.role !== 'operator'">
                            <span class="fa fa-share-square"></span> Out
                        </router-link>

                        <router-link :to="'/products/' + product.id + '/request/'" class="ml-auto btn btn-sm btn-success"
                                     v-if="user.role !== 'operator'">
                            <span class="fa fa-share-square"></span> Request
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import {CoolSelect} from 'vue-cool-select'
    import izitoast from 'izitoast';

    export default {
        components: {
            CoolSelect
        },
        data() {
            return {
                user: window.user,
                isOpenQrScanner: false,
                showOriginal: false,
                product_number: null,
                founded_number: null,
                product: [],
                products: [],
                errors: {},
                show: false,
                isLoading: false,
                isLoaded: false,
                isAutocompleteLoading: false,
                timeoutId: null,
                autocompleteProducts: [],
            }
        },

        methods: {
            openScanner() {
                this.isOpenQrScanner = true;
            },
            closeScanner() {
                this.isOpenQrScanner = false;
            },
            onScanSuccess(content) {
                this.isOpenQrScanner = false;
                this.searchProduct(content);
            },
            getError(key) {
                return this.errors[key] && this.errors[key].length && this.errors[key][0];
            },
            addProduct(product) {
                const index = this.products.indexOf(product);
                this.products.splice(index, 1);
                this.products.push(product);
                console.log(this.products);
            },
            searchProduct(productNumber) {
                axios.get('/api/products/search/' + productNumber, {params: {alert: true}}).then(response => {
                    this.addProduct(response.data[0]);
                });
            },
            onProductSelect(item) {
                this.addProduct(item);

                setTimeout(() => {
                    this.product_number = null;
                }, 0)
            },
            onProductnumberSearch(search) {
                if (search.length < 3) {
                    this.autocompleteProducts = [];
                    this.isAutocompleteLoading = false;
                    return;
                }

                clearTimeout(this.timeoutId);

                this.timeoutId = setTimeout(async () => {
                    this.isAutocompleteLoading = true;

                    axios.get('/api/products/search/' + search).then(response => {
                        this.autocompleteProducts = response.data;
                    }).finally(() => {
                        this.isAutocompleteLoading = false;
                    })
                }, 500);
            },
            getManualPath(manual, page) {
                return window.location.origin + '/' + manual.path + '#page=' + page;
            }
        }
    }
</script>